.accordionItem {
    max-width: auto;
    margin: 0 10%;
    color: #EB0028;
  }
  
  .accordionTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 500;
    background-color: black;
    /* background-color: #444040; */
  }

  
  /* .accordionTitle:hover {
    background-color: #595454;
  } */
  
  .accordionTitle,
  .accordionContent {
    padding: 1rem;
  }
  
  .accordionContent {
    background-color: #161616;
    color: white;
  }


