.about{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.aboutBanner img{
    width: 100%;
}

.aboutTEDxBucknellUniversity{
    margin-left: 6%;
    margin-right: 6%;
}

.titleTEDxBucknellUniversity{
    color: white;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 5%;
}

.bodyTEDxBucknellUniversity{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2%;
}

.aboutTEDx{
    margin-left: 6%;
    margin-right: 6%;
}

.titleTEDx{
    color: white;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 5%;
}

.bodyTEDx{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2%;
}

.aboutTED{
    margin-left: 6%;
    margin-right: 6%;
}

.titleTED{
    color: white;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 5%;
}

.bodyTED{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2%;
    margin-bottom: 5%;
}

/* Mobile Phones */
@media screen and (max-width: 672px)    {
    .titleTEDxBucknellUniversity    {
        font-size: 1.5rem;
    }

    .bodyTEDxBucknellUniversity    {
        font-size: 0.8rem;
    }

    .titleTEDx    {
        font-size: 1.5rem;
    }

    .bodyTED    {
        font-size: 0.8rem;
    }

    .titleTED    {
        font-size: 1.5rem;
    }

    .bodyTED    {
        font-size: 0.8rem;
    }
}

/* Tablets and Small Laptops */
@media screen and (min-width: 672px) and (max-width: 990px)    {
    .titleTEDxBucknellUniversity    {
        font-size: 1.5rem;
    }

    .bodyTEDxBucknellUniversity    {
        font-size: 0.8rem;
    }

    .titleTEDx    {
        font-size: 1.5rem;
    }

    .bodyTED    {
        font-size: 0.8rem;
    }

    .titleTED    {
        font-size: 1.5rem;
    }

    .bodyTED    {
        font-size: 0.8rem;
    }
}

/* Desktops and Large Laptops */
@media screen and (min-width: 990px) and (max-width: 1296px)    {  

}

/* Large Desktops and High-resolution Displays */
@media screen and (min-width: 1296px)    {

}