.prevTalk{
    margin-top: 8%;
    background-color: black;
}

.title{
    color: white;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 50px;
}

.talks{
    color: #EB0028;
    font-weight: 600;
    font-size: 30px;
}

.videoContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.videoItem{
    margin: 20px;
    text-align: center;
}

.videoItem iframe{
    width: 400px;
    height: 300px;
}

.videoTitle{
    color: white;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.speakerName{
    color: white;
    font-weight: 100;
    text-align: center;
}

.viewMoreButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.viewMoreButton :hover{
    color: #EB0028;
    border: 1px solid #EB0028;
    background-color: black;
}

.viewMoreVideos{
    color: white;
    padding: 10px;
    width: 120px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
}