.faq-accordion {
    display: flex;
    flex-direction: column;
}
  
.accordion-item {
    margin: 10px 0;
}
  
.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #eee;
    cursor: pointer;
}
  
.accordion-header:hover {
    background-color: #ddd;
}

.accordion-header-active{
    background-color: #ddd;
}
  
.accordion-header-active + .accordion-content{
    display: block;
}
  
.accordion-icon {
    display: inline-block;
    flex-shrink: 0;
    margin-left: 10px;
}
  
.accordion-icon:before {
    content: "+";
}
  
.accordion-icon-active:before {
    content: "-";
}

.accordion-content {
  display: none;
}

/* Mobile Phones */
@media screen and (max-width: 672px)    {

}

/* Tablets and Small Laptops */
@media screen and (min-width: 672px) and (max-width: 990px)    {

}

/* Desktops and Large Laptops */
@media screen and (min-width: 990px) and (max-width: 1296px)    {  

}

/* Large Desktops and High-resolution Displays */
@media screen and (min-width: 1296px)    {

}