.intro{
    margin-top: 200px;
    display: flex;
    background-color: black;

}

.introLeft{
    flex: 1;
    margin-left: 120px;
}

.date span{
    color: #EB0028;
    font-size: 18px;
    font-weight: 600;
}

.introTitle{
    color: white;
    font-size: 30px;
    font-weight: 800;
    padding-top: 10px;
}

.introTextContent{
    color: white;
    font-size: 100;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 100;
}

.leftBtn{
    color: white;
    padding: 10px;
    width: 120px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
}

.rightBtn{
    color: #EB0028;
    padding: 10px;
    width: 120px;
    border: 1px solid #EB0028;
    border-radius: 5px;
    margin-left: 20px;
    background-color: black;
}


.introRight{
    flex: 1;
}

.imgRight .container{
    position: relative;
}

.imgRight{
    position: absolute;
    width: 430px;
    left: 950px;
    bottom: 100px;

}