.bottom    {
    background-color: #28282f;
    height: auto;
    display: grid;
}

.bottomLogo    {
    position: relative;
    left: 5%;
    width: 50%;
}

.bottomLogo img    {
    width: 40%;
    height: auto;
    margin-top: 6%;
}

.tedLicense    {
    color: white;
    margin-top: 3%;
    margin-left: 6%;
    margin-right: 6%;
    font-size: 1rem;
}

.footerTitles    {
    margin-left: 6%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    gap: 15%;
}

.footerTitle    { 
    color: #EB0028;
    flex: 1;
    font-size: 1rem;
    font-weight: 600;
}

.footerBody    {
    margin-left: 6%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    gap: 15%;
    font-size: 1rem;
}

.information    {
    flex: 1;
}

.infoItem    {
    margin-top: 5%;
    color: white;
    font-size: 1rem;
}

.contact    {
    flex: 1;
}

.socials    {
    flex: 1;
}

.infoItemsIcons    {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    gap: 10%;
    font-size: 1.5rem;
}

.infoItemIcon    {
    display: flex;
}

.line    {
    margin-top: 2%;
    width: 80%;
    margin-left: 10%;
}

.copyright    {
    color: white;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1rem;
}

/* Mobile Phones */
@media screen and (max-width: 672px)    {
    .bottomLogo img    {
        margin-top: 10%;
        width: 70%;
    }

    .tedLicense    {
        font-size: 0.5rem;
    }
    
    .footerTitle    { 
        font-size: 0.75rem;
    }
    
    .footerBody    {
        font-size: 0.75rem;
    }

    .infoItem    {
        font-size: 0.5rem;
    }

    .infoItemsIcons    {
        font-size: 0.75rem;
    }

    .copyright    {
        font-size: 0.5rem;
    }
}

/* Tablets and Small Laptops */
@media screen and (min-width: 672px) and (max-width: 990px)    {
    .bottomLogo img    {
        margin-top: 10%;
        width: 40%;
    }

    .tedLicense    {
        font-size: 0.75rem;
    }
    
    .footerTitle    { 
        font-size: 1rem;
    }
    
    .footerBody    {
        font-size: 0.75rem;
    }

    .infoItem    {
        font-size: 0.75rem;
    }

    .infoItemsIcons    {
        font-size: 1rem;
    }

    .copyright    {
        font-size: 0.75rem;
    }
}

/* Desktops and Large Laptops */
@media screen and (min-width: 990px) and (max-width: 1296px)    {

}

/* Large Desktops and High-resolution Displays */
@media screen and (min-width: 1296px)    {

}