.navigation    {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: #28282F;
}

.logo    {
    flex: 3;
    cursor: pointer;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.logo img    {
    width: 100%;
    height: auto;
}

.topList    {
    display: flex;
    flex-direction: row;
    list-style: none;
}

  
.topListItemLink    {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
  
.topListItemLink:hover    {
    color: #EB0028;
    font-weight: 600;
}

.navigation-menu    {
    margin-right: 5%;
}

.navigation-menu ul    {
    display: flex;
    padding: 0;
    width: 100%;
}

.navigation-menu li    {
    list-style-type: none;
}

.navigation-menu li a    {
    text-decoration: none;
    display: block;
}

.hamburger    {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #28282F;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
    color: white;
}

.hamburger:hover    {
    color: #EB0028;
}

/* Mobile Phones */
@media screen and (max-width: 672px)    {
    .logo img    {
        width: 40%;
        height: auto;
    }

    .hamburger    {
        display: block;
    }

    .navigation-menu    {
        background-color: #28282F;
    }

    .navigation-menu ul    {
        position: absolute;
        top: 60px;
        right: 0;
        flex-direction: column;
        width: 60%;
        height: calc(100vh - 77px);
        background-color: rgba(40,40,47);
        border-top: 1px solid;
        display: none;
        margin-top: 10%;
      }

      .navigation-menu.expanded ul    {
        display: block;
        color: #28282F;
        height: auto;
      }

      .navigation-menu li    {
        text-align: center;
        width: 100%;
      }
      .navigation-menu li a    {
        padding: 1.5rem 0;
      }
      .navigation-menu li:hover    {
        background-color: #28282F;
      }
}

/* Tablets and Small Laptops */
@media screen and (min-width: 672px) and (max-width: 990px)    {
    .logo img    {
        width: 50%;
        height: auto;
    }

    .navigation-menu li    {
        margin: 0.7rem;
    }

    .topListItemLink    {
        font-size: 0.9rem;
    }
}

/* Desktops and Large Laptops */
@media screen and (min-width: 990px) and (max-width: 1296px)    {
    .logo img    {
        width: 35%;
        height: auto;
    }

    .navigation-menu li    {
        margin: 0 0.5rem;
    }

    .topListItemLink    {
        font-size: 1rem;
    }
}
 
/* Large Desktops and High-resolution Displays */
@media screen and (min-width: 1296px)    {
    .logo img    {
        width: 30%;
        height: auto;
    }

    .navigation-menu li    {
        margin: 0 0.7rem;
    }

    .topListItemLink   {
        font-size: 1rem;
    }
}
  

