.meetTeam    {
    color: white;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    margin-top: 5%;
}

.teamSelectionBar    {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.tabButton    {
    font-size: 1rem;
    color: white;
    background-color: black;
    border: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 15%;
}

.tabButton.active    {
    border-top: 0.1rem solid #EB0028;
    color: #EB0028;
    background-color: #28282F;
}

.tabButtonIcon    {
    width: 0.8rem;
    height: auto;
    margin-right: 5%;
}

.tabContent    {
    display: none;
    margin-bottom: 5%;
}
  
.tabContent.active     {
    display: block;
}

.tabContentContainer    {
    background-color: #28282F;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border-top: 5rem solid #28282F;
    border-bottom: 3rem solid #28282F;
}

.teamMemberContainer    {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    width: 100%;
}

.teamMember    {
    flex-basis: calc(25% - 20px);
}

.teamMember img    {
    width: 100%;
    height: auto;
    margin-bottom: 10%;
}

.teamMemberName    {
    color: #EB0028;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}

.teamMemberPosition    {
    color: white;
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 15%;
}

/* Mobile Phones */
@media screen and (max-width: 672px)    {
    .teamMemberContainer    {
        gap: 65%;
    }
}