.meetTeam    {
    color: white;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    margin-top: 10%;
}

.teamSelectionBar    {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.tabButton    {
    font-size: 1rem;
    color: white;
    background-color: #28282f;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 11%;
}

.tabButton.active    {
    color: #EB0028;
}

.teamMemberContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 6%;
    margin-right: 6%;
    gap: 2%;
}

.tabContent {
    display: none;
  }
  
.tabContent.active {
    display: block;
}

.tabContent img    {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.teamMemberName    {
    color: #EB0028;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    margin-top: 5%;
}

.teamMemberPosition    {
    color: white;
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
    margin-top: 3%;
}